<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--    Xml Configuration for @component scan-->
   <context:component-scan base-package="org.sindu.Car"></context:component-scan>

<!--    Xml Configuration for bean creation-->
<!--    <bean id="vehicle" class="org.sindu.Car" autowire="byName"></bean>-->

<!--   <bean id = "tyre" class="org.sindu.Tyre" autowire="byType">-->
      <!--   Xml Configuration for property setter -->
<!--      <property name="brand" value="Setter Injection:MRF"></property>-->
      <!--   Xml Configuration for constructor setter -->
<!--      <constructor-arg name="company" value="Constructor Injection:MRF"></constructor-arg>-->
<!--   </bean>-->

<!--   <bean id = "company" class="org.sindu.Company" autowire="default"></bean>-->
</beans>